= set_title @poop.title, @poop.category.name
= render :partial => 'poops/poop', :object => @poop
= link_to 'назад', :back
= content_for(:comments) do
  #vk_comments
    %a(name="comments")
    %script(type="text/javascript")
      VK.Widgets.Comments("vk_comments", {limit: 10, width: "496"});

