html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-size: 11pt;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: arial;
}

.content {
  clear: both;
  margin: auto;
  width: 900px;
}

img, iframe {
  border: 0;
}

h1 {
  font-size: 1.4em;
}

#main {
  background: #a26a20 url('/images/bg.jpg') repeat-x;
}

.video > iframe {
  margin: auto;
  width: 610px;
  height: 360px;
}

#header {
  height: 138px;

  .content {
    width: 650px !important;
  }

  #logo {
    float: left;
    margin-top: 30px;
  }

  #menu {
    margin-top: 13px;
    text-transform: uppercase;
    list-style: none;
    float: right;

    li {
      float: left;
    }

    a {
      color: #000;
      display: block;
      width: 85px;
      text-align: center;
      background: url('/images/bg_menu.jpg') repeat-x;
      padding: 11px 0;
      text-decoration: none;

      &:hover, &.active {
        background-position: 0 -40px;
      }

      &.white {
        z-index: 2;
        text-transform: none;
        width: 100px;
        background: url('/images/bg_submenu.jpg') repeat-x;

        &:hover, &.active {
          background-position: 0 -40px;
        }
      }

      &.add_button {
        color: #fff;
        text-transform: capitalize;
        background: url('/images/bg_dobavit.jpg') repeat-x;

        &:hover, &.active {
          background-position: 0 -40px;
        }
      }

      &.where_am_i {
        width: 120px;
      }
    }
  }

  #admin_menu {
    text-transform: uppercase;
    list-style: none;
    display: block;
    padding-top: 110px;
    margin-left: 105px;
    font-size: 0.8em;

    li {
      float: left;
    }

    a {
      text-decoration: none;
      padding: 3px;
      color: #000;
      background-color: #cfa57f;

      &:hover, &.active {
        color: #fff;
      }
    }
  }

  #dropdown_menu {
    position: absolute;
    z-index: 1;
    display: none;
    height: 92px;
    padding: 5px;
    left: 50%;
    margin-left: -60px;
    top: 88px;
    width: 290px;
    font-size: 0.9em;
    background: url('/images/bg_popup_menu.jpg') repeat-x;

    .left {
      float: left;
      padding: 5px 0 0;
    }

    .right {
      float: right;
      text-transform: none;
      text-align: center;

      p { padding: 8px 0 10px; }
      img { padding-right: 7px; }
    }

    ul {
      list-style: none;
    }

    li {
      display: block;
      padding: 5px;
    }

    a {
      color: #111;
      text-decoration: none;

      &:hover {
        color: #444;
      }
    }
  }

  #search_box {
    float: right;
    width: 175px;
    margin: 10px 0 0 0;
    padding: 5px;
    background: url('/images/search.png') 0 5px no-repeat;

    #search {
      padding-left: 20px;
      padding-top: 1px;
      background: url('/images/search_l.png') 0 2px no-repeat;
      border: 0;
      color: #000;
      width: 140px;
    }
  }
}

#container {
  padding: 15px;
  padding-bottom: 40px;
  background: url('/images/triangle.png') center bottom no-repeat;

  table {
    margin: auto;

    td.left, td.right{
      vertical-align: top;
    }

    td.left .rotaban {
      margin-right: 10px;
    }

    td.right .rotaban {
      margin-left: 10px;
    }
  }

  #nav_left, #nav_right, #random, #previous_new, #next_new {
    & a {
      padding: 180px 8px 0;
      margin-top: 29px;
      display: block;
      text-decoration: none;
      background-color: #cd954a;
    }
  }

  #nav_left{
    a{height: 180px;}
  }

  #nav_right{
    a{height: 110px;}

    #random{
      background-color: #d26631;
      height: 60px;
      padding-top: 10px;
      margin-top: 0;
    }
  }

  table.admins td, table.news th, table.news td {
    padding: 5px;
  }

  .field_with_errors {
    display: inline-block;
  }

  .empty {
    clear: both;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .middle a {
    color: #FFF;

    &:hover {
      color: #CCC;
    }
  }

  h1 {
    color: #fff;
    padding-bottom: 5px;
  }

  .links {
    float: right;

    form {
      display: inline-block;
    }

    .link {
      color: #333;
      display: inline-block;
    }

    .link a, .comment_link {
      color: #fff;

      &:hover {
        color: #d8d8d8;
      }
    }

    .kosar, .kosar_g, .xunta, .xunta_g, .comment_link {
      padding: 0 5px 4px 20px;
      text-transform: lowercase;
    }

    .kosar {
      background: url('/images/kosar.png') no-repeat;
    }

    .kosar_g{
      background: url('/images/kosar_g.png') no-repeat;
    }

    .xunta{
      background: url('/images/xunta.png') no-repeat;
    }

    .xunta_g{
      background: url('/images/xunta_g.png') no-repeat;
    }

    .comment_link{
      background: url('/images/comments.png') no-repeat;
    }
  }

  .admin_links {
    clear: both;
  }

  .content {
    width: 610px;
    padding-bottom: 10px;

    form div textarea {
      margin-top: 5px;
    }
  }

  .poop {
    width: 610px;
    margin-bottom: 20px;
  }

  h1.rytp, h1.rytpmv {
    display: block;
    float: left;
    margin: 10px 10px 20px 0;

    a {
      padding: 10px;
      text-decoration: none;
    }

    a:hover, .active {
      background-color: #231305;
    }
  }

  .description, .info {
    background-color: #cd954a;
    padding: 10px;
  }

  .description {
    color: #fff;
    background-color: #432912;
  }

  .author {
    color: #fff;
    background-color: #8b5e34;
    padding: 5px 10px;
    height: 20px;

    label {
      float: left;
    }
    .show_description {
      float: right;
    }
  }

  .title {
    clear: both;
    font-size: 1.5em;
    padding-bottom: 7px;
    a { text-decoration: none; }
  }

  .info {
    height: 20px;
    margin-top: -4px;

    label {
      font-size: 1.2em;
      font-weight: bold;
      float: left;
    }

    a {
      text-decoration: none;
      color: #490d0f;

      &:hover {
        color: #9a3c3f;
      }
    }
  }

  #login_box {
    width: 300px;
    margin: auto;

    h5 { padding-bottom: 10px; }

    label {
      width: 100px;
      font-size: 1.1em;
      display: block;
      float: left;
    }

    input[type=text] {
      margin-bottom: 5px;
      float: left;
    }
  }

  .field {
    color: #fff;
    padding-bottom: 10px;
  }

  .new_code {
    display: inline-block;
  }

  .new_description textarea, .new_code textarea {
    width: 300px;
    height: 100px;
  }

  p.rytp, p.ytp {
    padding-top: 10px;
    color: #eaeaea;
  }

  p abbr {
    color: #fff;
    font-size: 1.1em;
    text-decoration: underline;
    &:hover { color: #ccc; cursor: help; }
  }

  ol {
    color: #eaeaea;
  }

  a.code {
  }

  #error_explanation, #notice {
    color: #76003a;
    font-weight: bold;
    padding: 20px;

    ul {
      list-style: circle;
      padding-left: 15px;
    }
  }

  .pagination {
    color: #fff;
    font-size: 1em;
    text-align: center;
  }

  #new {
    min-height: 360px;
    background: #fff;
    padding: 20px 30px;

    .image {
      text-align: center;

      img {
        max-width: 550px;
        padding-bottom: 10px;
      }
    }

    h1 {
      color: #000;
    }

    .date {
      text-align: right;
    }

    a {
      color: #000;

      &:hover {
        color: #999;
      }
    }
  }

  #previous_new a, #next_new a{
    background: none;
    margin-top: 300px;
    padding: 0;
  }

  #info, #reklama, #advanced, #file_list, #be_admin {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;

    a {
      color: #000;

      &:hover {
        color: #999;
      }
    }

    abbr {
      display: block;
      padding-top: 10px;
    }
  }

  .rules, .where {
    * { color: #000 !important; }
    ol { padding-left: 20px; }

    abbr {
      display: inline !important;

      &:hover {
        color: #999;
      }
    }
  }

  .get_some_code img {
    padding-bottom: 20px;
  }

  .titor {
    background: url('/images/titor.png') top center no-repeat;
    height: 292px;
    width: 400px;
    margin: auto;
  }

  #advanced {
    textarea.code {
      background-color: #ccc;
      width: 400px;
      height: 60px;
      margin-top: 5px;
      padding: 3px;
      display: block;
    }
  }

  #file_list {
    padding: 20px;

    a, img {
      display: block;
      padding: 5px 0;
    }

    a {
      color: #a26a21;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        color: #c29861;
      }
    }

    div {
      width: 100px;
      text-align: center;
    }
  }

  ol {
    list-style-type: decimal;

    li {
      padding: 3px 0;
    }
  }

  #news_content {
    width: 600px;
  }
}

#footer {
  padding: 15px;
  clear: both;
  background-color: #fff;

  a{
    color: #3f2d1f;

    &:hover {
      color: #000;
    }
  }

  #vk_comments {
    min-height: 140px;
    margin: auto;
  }

  div.before, div.after {
    margin: auto;
    padding: 10px 0;
    width: 728px;
  }

  #subfooter {
    font-size: 14px;
    width: 620px;
    padding-top: 20px;
    margin: auto;

    & > div {
      float: left;
      padding-left: 20px;
    }

    .counter {
      float: right;
    }
  }

  .clear {
    clear: both;
    max-height: 1px;
  }
}
