- if can?(:approve, Poop)
  .admin_panel
    %ul.links
      %li= link_to "новых пупов (#{Poop.new_unapproved})", not_approved_path
      - if can?(:manage, User)
        %li= link_to "админка", admin_index_path
