= set_title :title => 'файлы'
.titor
#info
  Раздел пополнится в ближайшее время. Если вы можете оказать помощь по разделу файлы сообщите нам #{mail_to 'webmaster@rytp.ru'}

#file_list
  #file_1
    = image_tag('/images/mp3pack.png')
    mp3 pack
    = link_to 'скачать', 'http://letsweb.ru/pack%201.0.zip'
