= set_title :title => 'код видео'
.get_some_code
  %div
    %h1
      vkontakte.ru
    %br
    = image_tag 'vk.jpg'
  %div
    %h1
      youtube.com
    %br
    = image_tag 'youtube.jpg'
  %div
    %h1
      vimeo.com
    %br
    = image_tag 'vimeo.jpg'
