= set_title :title => 'правила'
#info.rules
  %h1 Условия и обязательства
#advanced.rules
  %ol
    %li
      Автор или пользователь, который добавляет видео на сайте rytp.ru, несет полную ответственность за его содержимое. Администрация сайта ответственности не несет.
    %li
      Видео не должно содержать элементы порнографического характера.
    %li
      Видео содержащее рекламу будет наказано.
    %li
      Видео содержащее обзор будет грубо оскорблено.
    %li
      Обязательно нужно указывать имя или ник автора пупа. Если его имя неизвестно, заливать пуп не стоит.
    %li
      Говно и не смешные пупы будут удалены.

= content_for :ad_block_1 do
  = render :partial => '/ad/before_footer'
