= set_title :title => 'правила'
.rules
  %h1 Условия и обязательства
  %ol
    %li
      Пользователь, который добавляет видео на сайт rytp.ru, несет полную ответственность за его содержимое. Администрация сайта ответственности не несет.
    %li
      Видео не должно содержать элементы порнографического характера.
    %li
      Видео содержащее рекламу/обзор будет удалено.
    %li
      Говно и не смешные пупы будут удалены.

= content_for :ad_block_1 do
  = render '/ad/before_footer'
