= set_title :title => 'куда я попал?'
%h1 Куда я попал?
%p RYTP - частный случай YouTube Poop (наравне с немецким YouTube Kacke, испанским YouTube Poop Hispano и прочими региональными вариациями), для создания которого используются в большинстве русские видео.
