= set_title :title => 'куда я попал?'
#info.where
  %h1 Куда я попал?
#advanced.where
  %p.rytp 
    %acronym{:title => 'Russian YouTube Poop'} RYTP
    \ - частный случай YouTube Poop (наравне с немецким YouTube Kacke, испанским YouTube Poop Hispano и прочими региональными вариациями), для создания которого используются в большинстве русские видео.
  %p.ytp
    %acronym{:title => 'YouTube Poop'} YTP
    \ - это то, что можно со всей силой ненавидеть, и то, чем можно бесконечно восхищаться. То, что находится за гранью человеческого разума. А с точки зрения нормальных людей - это просто полоумные ремиксы из мультиков и рандомного дерьма. Цель YTP - сделать из оригинальных видео нечто совершенно иное, самым смешным и бредовым образом.
