= set_title :title => 'куда я попал?'
#info.where
  %h1 Куда я попал?
#advanced.where
  %p.rytp
    %abbr{:title => 'Russian YouTube Poop'} RYTP
    \ &mdash; частный случай YouTube Poop (наравне с немецким YouTube Kacke, испанским YouTube Poop Hispano и прочими региональными вариациями), для создания которого используются в большинстве русские видео.
  %p.ytp
    %abbr{:title => 'YouTube Poop'} YTP
    \ &mdash; это то, что можно со всей силой ненавидеть, и то, чем можно бесконечно восхищаться. То, что находится за гранью человеческого разума. А с точки зрения нормальных людей - это просто полоумные ремиксы из мультиков и рандомного дерьма. Цель YTP - сделать из оригинальных видео нечто совершенно иное, самым смешным и бредовым образом.

= content_for :ad_block_1 do
  = render :partial => '/ad/before_footer'

