#social
  = link_to image_tag('twitter.png', :width => 53, :height => 37), 'http://twitter.com/rytpru', :target => '_blank', :title => 'Наш твиттер'
  = link_to image_tag('vk.png', :width => 53, :height => 37), 'http://vkontakte.ru/public23535228', :target => '_blank', :title => 'Паблик ВКонтакте'
  = link_to image_tag('rss.png', :width => 53, :height => 37), rss_feed_path+'.rss', :title => 'RSS лента'
