-# CSS: implied media="all"
= stylesheet_link_tag 'style', 'jquery.jgrowl.css', 'css3buttons.css', 'tipsy', :media => 'all', :cache => true

-# Append your own using content_for :stylesheets
= yield :stylesheets
