-# CSS: implied media="all"
= stylesheet_link_tag 'style', 'jquery.jgrowl', 'css3buttons', 'tipsy', 'redactor', :media => 'all', :cache => true

-# Append your own using content_for :stylesheets
= yield :stylesheets
